.product-list-page__item {
    overflow: hidden;
    background: white;
    padding: 8px;


    > a {
        text-decoration: none;
    }
    &__container {
        display: flex;
        flex-direction: column;
        --image-height: 200px;
    }
    &__image-outer {
        display: flex;
        justify-content: center;
        height: var(--image-height);
        align-items: center;
    }

    img {
        max-height: var(--image-height);;
        max-width: 100%;
    }
    &__title {
        font-weight: 600;
        color: rgb(29, 25, 41);
        margin-top: 14px;
        margin-bottom: 6px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        font-size: 20px;
        color: var(--danger-color);
        margin-bottom: 10px;
    }
    //&:hover {
    //    img {
    //        transform: scale(1.05);
    //    }
    //}

    &--show-placeholder {
        $textPlaceholderColor: rgb(227, 227, 227);
        .product-list-page__item {
            &__title {
                height: 27px;
                background: $textPlaceholderColor;
            }
            &__description {
                height: 28px;
                background: $textPlaceholderColor;
            }
        }
    }
}
.product-list-page {
    .infinite-scroll-component {
        display: flex;
        flex-wrap: wrap;
    }
}
