@import '~@fortawesome/fontawesome-free/css/all.css';
@import './variables';
@import "./layouts/style";
@import "./pages/style";
@import "./components/style";
@import "./utils/_style.scss";

a, .navbar-light .navbar-nav .nav-link {
  color:  var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--primary-color--darker-2)
  }
}