@import 'scss-variables';

:root {
  --primary-color: #df6264;
  --primary-color--darker-1: #d6383b;
  --primary-color--darker-2: #b62527;
  --danger-color: #cc1818;
  --danger-color--darker-1: #710d0d;
  --secondary-color:  #0d6efd;
  --secondary-color--darker-1: rgb(1,110,158);
}