.ecommerce-product-page {
    margin-top: 170px;
    width: 100%;
    display: flex;


    &__title {
        font-weight: 300;
    }
    &__image__outer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 50px;
        img {
            max-width: 100%;
            max-height: 500px;
        }
    }

    &__price {
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
        font-size: 22px;
        font-weight: bold;
        width: 100%;

    }
    &__description {
        color: #6d6d6d
    }

    &__add-to-cart {
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__category {
        display: flex;
        &__item {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    &__container {
        width: 100%;
        &--show-placeholder {
            .ecommerce-product-page{
                &__image__outer {
                    margin-right: 50px;
                    height: 500px;
                    background: $imagePlaceholderColor;
                }

                &__category,
                &__price,
                &__description,
                &__title {
                    width: 100%;
                    height: 27px;
                    background: $textPlaceholderColor;
                }
            }
        }
    }

}
