.gravity-post-page {
    margin-top: 80px;
    width: 100%;
    max-width: 920px;

    &__image__outer {
        position: relative;
        margin-top: 40px;
        margin-bottom: 40px;
        //16:9 aspect ratio
        padding-top: 56.25%;
        background: $imagePlaceholderColor;
    }
    &__image-aspect-ratio {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        img {
            transition: transform 0.5s linear;
            width: 100%;
            height: 100%;
        }
    }




    &__title {
        font-weight: 600;
        font-size: 44px;
        line-height: 1.23em;
        color: rgb(29, 25, 41);
        margin-top: 16px;
        padding-bottom: 0px;
    }
    &__content {
        font-size: 18px;
    }
    &--show-placeholder {
        $textPlaceholderColor: rgb(227, 227, 227);
        .gravity-post-page {
            &__title {
                height: 54px;
                background: $textPlaceholderColor;
            }
            &__date {
                height: 24px;
                background: $textPlaceholderColor;
            }
            &__content {
                height: 28px;
                margin-bottom: 15px;
                background: $textPlaceholderColor;
            }
        }
    }

}
